@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: "Outfit", sans-serif;

}

body{
  background-color: hsl(212, 45%, 89%);
  padding: 4%;
}



@media screen and (max-width: 1440px) {
  .card-QrCode{
    width: 280px;
    background-color:  hsl(0, 0%, 100%);
    margin: auto;
    padding: 16px;
    border-radius: 24px;
    text-align: center;
  }
  
  .card-QrCode img{
    width: 100%;
    border-radius: 10px;
  }
  
  .card-QrCode p{
    width: 250px;
    margin: auto;
    font-size: 15px;
    font-weight:400;
    color: hsl(220, 15%, 55%);
    margin-bottom: 25px;
  }
  
  .card-QrCode h1{
    font-size: 24px;
    font-weight: 700;
  }
}